---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";
import projectImage from "../assets/post_img.webp";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Kaixo 👋</div>
    <div class="text-5xl font-bold">Soy aitor</div>
    <div class="text-3xl py-3 font-bold">
      Jardinero y horticultor certificado
    </div>
    <div class="py-2">
      <text class="text-lg">
        Bienvenido a este mi pequeño rincón en la red. Escribire sobre mis
        fracasos y algun logro tambien no te vayas a creer que tengo con las
        plantas. Pondre fotos dentro de la galería. Se puede ver mi curriculum
        vitae como jardinero y horticultor certificado. Tambien puedes
        escribirme para darme los buenos dias, preguntarme mi opinion sobre tus
        plantas, hablarme sobre una planta curiosa...
      </text>
    </div>
    <div class="mt-8 flex items-center space-x-3">
      <!-- <a class="btn btn-lg btn-soft" href="#" target="_blank">Let's connect!</a> -->
      <a class="btn btn-lg btn-primary" href="/cv">Leer CV</a>
    </div>
  </div>

  <p>Ocupado con...</p>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">
      Últimas entradas de blog
    </div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Últimas fotos</div>
  </div>
</BaseLayout>
